body{
    margin: 1.2% auto 0 auto;
    width: 80%;
    background-color: #EFEEEC;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.container{
   width: 100%;  
}

ul {
    list-style-type: none;  
}

li{
    text-decoration: none;
}

.navbar{
    margin-top: 1.5%;
    height: 7%; 
    border-radius: 6px;
}

.navbar ul{
    list-style: none;
    padding-left: 50px;
    margin: auto;
    text-align:center;
}

.navbar ul li{
    padding: 10px;
    float: left; 
}

.navbar ul li:hover{
    padding: 10px;
    float: left; 
    background-color: #E55435;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 14.5px;
    
}

.navbar, .footer{
    background-color: #66655F;
}

.footer, .artileMain, .artileSide{
    box-sizing: border-box;
}

.empty{
    clear: both;
}

.footer{
    padding-top: 19px;
    margin-top: 23px;
    height: 56px;  
    border-radius: 6px;
    color: white;
    padding-left: 19px;
    
}

.footer_subtext, .articleMainHeader{
    color: #E55435;
}

img {
    max-width: 100%;
    max-height: 100%;   
}

.articleMainHeader{
    font-weight: 600;
}

h3{
    padding: 0px;
    margin: 0px 0px 0px 24px;
    font-size: 21px;
}

.artileMain{
    /*height: 56.5%;*/
    background-color: white;
    border-radius: 6px;
    padding: 48px 25px 36px 7px;
    margin-top: 12px;
    overflow: hidden;
}


.mainArticle{
    float: left;
    width: 69%;
}

.mainSide{
    float: right;
    width: 30%;
}

.artileSide{
    /*height: 63%;*/
    background-color: white;
    border-radius: 6px;
    padding: 36px 2px 28px 2px;
    margin-top: 12px;
    overflow: hidden;
}

.articleDesc{
    color: #9A9791;
    font-style: italic; 
}

p{
    margin: 23px;
    color: #726a6a;
}


@media only screen and (max-width: 768px), only screen and (max-height: 450px){
    .mainSide, .mainArticle{
        float: none;
        width: 100%;
    }
    .navbar ul li{
        float: none;
    }
    .navbar ul li:hover{
        float: none; 
        background-color: #E55435;
    }
    .navbar{
        height: auto;
    }
    .navbar ul{
        padding-left: 0px;
    }
    p{
        margin: 12px;
    }
}


